/* Custom scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #3C3836;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #EBDAB4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b4b650;
}
.notepadbox a{
    color: white !important;
}
body{
    background-color:  #3C3836 !important;
    font-family: 'Poppins', sans-serif !important;
    color: #EBDAB4 !important;
}
.sidebar{
    background-color: #282828;
    border-radius: 50px;
    height: 90vh;
    padding: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.336);

}
.notepadbox{
    height: 90vh;
    background-color: #282828;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.336);
    padding: 50px;
}
.logo-text{
    background-color: #EBDAB4;
    height: 50px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.submitbutton{
    background-color: #ebdab4;
    border: 0px;;
    padding: 5px;
    font-size: 25px;
    width: 100%;
    border-radius: 20px;
        font-weight: bold;
    transition: 0.2s;
}
.submitbutton:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.2s;
    transform: scale(1.05);
}
.searchbox{
    background-color: #3C3836;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
}
.searchbox input{
    border: 0px;
    background-color: transparent;
    font-size: 20px;
    width: 70%;
    margin-left: 5px;
    color: white !important;
}
.searchbox input:focus{
    outline: none;
}
.note{
    background-color: #3C3836;
    padding: 10px;
    margin-top: 4px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: 20px; 
    cursor: pointer;
    color: white !important;
}
.note:hover{
    background-color: rgba(227, 236, 255, 0.755);
}
.addnewbutton{
   padding: 20px;
   height: 50px;
   display: flex;
   align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #EBDAB4;
    border-radius: 20px;
   
    
}
.note a{
    color: #EBDAB4 !important;
}
.addnewbutton a{
    text-decoration: none;
    color: WHITE;
}
.addnewbutton:hover{
    background-color: #000000;
    color: white !important;
}
body a{
    text-decoration: none;
    color: black;
}
.settingsbutton{
    background-color: #EBDAB4;
    border: 0px;
    padding: 5px;
    font-size: 25px;
    width: 100%;
    border-radius: 20px;
    transition: 0.2s;
    text-align: center;
    cursor: pointer;
}